.report-button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 50px;
    margin-top: -100px;
     
  }
  
  .report-button {
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .report-button:hover {
    background-color: #0056b3; 
  }

  @media (max-width: 768px) {
    .report-button{
        margin-top: 100px;
    }
  } 